* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.wrapper {
  max-width: 96rem;
  margin: 0 auto;
  min-height: 1px; }

.margin-bottom-sm {
  margin-bottom: 25px; }

.margin-bottom-md {
  margin-bottom: 40px; }

.hero {
  height: 80vh;
  width: 100%;
  background-color: #fcdb00; }
  .hero .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0; }
    .hero .header__logo {
      display: flex;
      justify-content: center;
      align-items: center; }
      .hero .header__logo__fingerprint {
        width: 4rem; }
      .hero .header__logo__tinyone {
        font-size: 3rem;
        font-weight: 700;
        margin-left: 1rem; }
    .hero .header__navigation {
      display: flex;
      justify-content: center;
      align-items: center; }
      .hero .header__navigation ul li {
        display: inline-block;
        margin-left: 7rem; }
        .hero .header__navigation ul li a {
          color: #010101;
          text-decoration: none;
          font-size: 2.2rem;
          font-weight: 700; }

.presentation {
  width: 100%; }
  .presentation__carousel__cell {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .presentation__carousel__cell .cell__text {
      width: 60%; }
      .presentation__carousel__cell .cell__text--main {
        font-size: 3.2rem;
        font-weight: 700;
        width: 100%;
        line-height: 1.8rem; }
      .presentation__carousel__cell .cell__text--normal {
        font-size: 2rem;
        font-weight: 400;
        color: #313841;
        line-height: 2.4rem;
        width: 60%; }
      .presentation__carousel__cell .cell__text--sub {
        font-size: 1.6rem;
        font-weight: 400;
        color: #555555;
        line-height: 2rem;
        width: 65%; }
    .presentation__carousel__cell .cell__image {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .presentation__carousel__cell .cell__image img {
        width: 100%;
        margin: 0 auto; }
    .presentation__carousel__cell .os {
      font-size: 4.2rem;
      color: #010101; }
      .presentation__carousel__cell .os i {
        margin-right: 4rem; }

.flickity-page-dots {
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.flickity-page-dots .dot {
  background: #fff;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 .6rem; }
