* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.wrapper {
  max-width: 100rem;
  padding: 0 4rem;
  margin: 0 auto; }

a {
  color: inherit;
  text-decoration: none; }

header {
  width: 100%;
  background-color: #fcdb00;
  z-index: 5000; }
  header .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 6rem 0; }
    header .header__logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header .header__logo span {
        font-size: 3rem;
        font-weight: 700;
        margin-left: 1rem; }
    header .header__nav ul li:nth-child(-n+3) {
      display: inline;
      list-style: none;
      font-size: 2.2rem;
      color: #010101;
      margin-left: 6rem;
      font-weight: 700; }
      @media only screen and (max-width: 40em) {
        header .header__nav ul li:nth-child(-n+3) {
          display: none; } }
    header .header__nav .menumobile__button {
      display: none;
      list-style: none;
      font-size: 3rem;
      color: #010101;
      font-weight: 700;
      z-index: 5000; }
    header .header__nav .fa-times {
      display: none; }

.offscreen__menu {
  position: absolute;
  top: 20vh;
  left: 0;
  width: 100vw;
  height: 82vh;
  background-color: #fcdb00;
  z-index: 2;
  display: none;
  font-size: 2.4rem; }
  .offscreen__menu ul li {
    list-style: none;
    text-align: center;
    font-weight: 700;
    padding: 2rem; }

.hero-wrapper {
  background-color: #fcdb00; }
  .hero-wrapper .hero {
    width: 100%; }
    .hero-wrapper .hero .carousel .carousel__cell {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 1rem rem 1rem; }
      @media only screen and (max-width: 56.25em) {
        .hero-wrapper .hero .carousel .carousel__cell {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .hero-wrapper .hero .carousel .carousel__cell .carousel__text {
        max-width: 40%;
        padding-right: 1rem; }
        @media only screen and (max-width: 56.25em) {
          .hero-wrapper .hero .carousel .carousel__cell .carousel__text {
            max-width: 80%;
            padding-right: 0;
            text-align: center; } }
        .hero-wrapper .hero .carousel .carousel__cell .carousel__text .os {
          font-size: 4.2rem; }
          @media only screen and (max-width: 56.25em) {
            .hero-wrapper .hero .carousel .carousel__cell .carousel__text .os {
              padding: 2rem 0 2rem 0; } }
          .hero-wrapper .hero .carousel .carousel__cell .carousel__text .os i {
            margin-right: 3.5rem; }
            @media only screen and (max-width: 56.25em) {
              .hero-wrapper .hero .carousel .carousel__cell .carousel__text .os i {
                margin-right: 0rem;
                margin: 1.5rem; } }
      .hero-wrapper .hero .carousel .carousel__cell .carousel__image {
        width: 50%;
        padding-left: 1rem;
        padding-bottom: 10rem; }
        @media only screen and (max-width: 56.25em) {
          .hero-wrapper .hero .carousel .carousel__cell .carousel__image {
            padding-left: 0rem;
            padding-bottom: 10rem; } }
        .hero-wrapper .hero .carousel .carousel__cell .carousel__image img {
          max-width: 100%;
          display: block;
          margin: 0 auto; }

.flickity-page-dots {
  -webkit-transform: translateY(-65px);
          transform: translateY(-65px); }

.heading--primary {
  font-size: 3.2rem;
  font-weight: 700;
  color: #010101;
  margin: 0;
  margin-bottom: 3rem; }

.heading--secundary {
  font-size: 2rem;
  font-weight: 400;
  color: #313841;
  margin: 0;
  margin-bottom: 2.5rem; }

.text--light {
  font-size: 1.6rem;
  font-weight: 400;
  color: #898989;
  margin: 0; }

.text--dark {
  font-size: 1.6rem;
  font-weight: 400;
  color: #555555;
  margin: 0; }

.features__title {
  padding: 10rem 5rem 8rem 5rem;
  text-align: center; }
  .features__title h1 {
    margin-bottom: 2rem; }

.features__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .features__gallery .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 26rem;
            flex: 1 0 26rem;
    padding: 1.5rem;
    margin-bottom: 6rem; }
    @media only screen and (max-width: 40em) {
      .features__gallery .item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 20rem;
        margin-bottom: 3rem; } }
    .features__gallery .item__icon {
      font-size: 5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding-top: 1rem; }
      @media only screen and (max-width: 40em) {
        .features__gallery .item__icon {
          margin-bottom: 2rem; } }
    .features__gallery .item__text {
      margin-left: 2rem; }
      @media only screen and (max-width: 40em) {
        .features__gallery .item__text {
          margin-left: 0;
          text-align: center; } }
    .features__gallery .item .fa-code {
      font-size: 3.5rem; }

.footer-wrapper {
  background-color: #010101; }

.footer__title {
  padding: 10rem 5rem 3rem 5rem;
  text-align: center; }
  .footer__title h1 {
    color: #fcdb00;
    margin-bottom: 2rem; }
  .footer__title h2 {
    color: #898989; }

.footer__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 8rem; }
  .footer__form input {
    padding: 2rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 1rem;
    width: 70%; }
    @media only screen and (max-width: 40em) {
      .footer__form input {
        width: 100%; } }
  .footer__form button {
    background-color: #fcdb00;
    text-transform: uppercase;
    border: none;
    border-radius: 1rem;
    padding: 2rem 4rem;
    font-size: 1.6rem;
    margin-left: 1rem; }
    @media only screen and (max-width: 40em) {
      .footer__form button {
        margin-top: 1rem; } }

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8rem; }
  .footer .social i {
    font-size: 4rem;
    color: #fcdb00;
    padding: 1rem; }

.footer .footer__adress {
  text-align: center;
  color: #fff; }

.footer .footer__links {
  padding-top: 4rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .footer .footer__links ul li {
    list-style: none; }
    @media only screen and (max-width: 40em) {
      .footer .footer__links ul li {
        text-align: center; } }
  .footer .footer__links .item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 15rem;
            flex: 1 0 15rem;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
