* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;  
}


html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, fica mais fácil para fazer manutenção e cálculo no site
}

body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.wrapper {
    max-width: 100rem;
    padding: 0 4rem;
    margin: 0 auto;
}


a {
    color: inherit;
    text-decoration: none;
}