.features {
    &__title {
        padding: 10rem 5rem 8rem 5rem;
        text-align: center;

        h1 {
            margin-bottom: 2rem;
        }
    }
    &__gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .item {
            display: flex;
            flex-direction: row;
            flex: 1 0 26rem;
            padding: 1.5rem;
            margin-bottom: 6rem;
            
        
            @include respond(phone) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 20rem;
                margin-bottom: 3rem;
            }

            &__icon {
                font-size: 5rem;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding-top: 1rem;
                @include respond(phone) {
                    margin-bottom: 2rem;
                }
            }

            &__text{
                margin-left: 2rem;
                @include respond(phone) {
                    margin-left: 0;
                    text-align: center;
                }
            }

            .fa-code {
                font-size: 3.5rem;
            }
        }
    }
}