.footer-wrapper {
    background-color: $tinyone-black;
}

.footer {
    &__title {
        padding: 10rem 5rem 3rem 5rem;
        text-align: center;

        h1 {
            color: $tinyone-yellow;
            margin-bottom: 2rem;
        }
        h2 {
            color: $tinyone-gray;
        }
    }

    &__form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 8rem;

        input {
            padding: 2rem;
            font-size: 1.6rem;
            border: none;
            border-radius: 1rem;
            width: 70%;
            @include respond(phone) {
                width: 100%;
            }
        }

        button {
            background-color: $tinyone-yellow;
            text-transform: uppercase;
            border: none;
            border-radius: 1rem;
            padding: 2rem 4rem;
            font-size: 1.6rem;
            margin-left: 1rem;
            @include respond(phone) {
                margin-top: 1rem;
            }
        }
    }
    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 8rem;
        i {
            font-size: 4rem;
            color: $tinyone-yellow;
            padding: 1rem;
        }   
    }

    .footer {
        &__adress {
            text-align: center;
            color: #fff; 
        }

        &__links {
            padding-top: 4rem;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 4rem;
            flex-wrap: wrap;

            ul li {
                list-style: none;
                @include respond(phone) {
                    text-align: center;
                }
            }
            
            .item {
                flex: 1 0 15rem;
                padding: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
    }
}