header {
    width: 100%;
    background-color: $tinyone-yellow;
    z-index: 5000;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6rem 0;
        
        &__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                font-size: 3rem;
                font-weight: 700;
                margin-left: 1rem;
            }
        }
    
        &__nav {
            ul li:nth-child(-n+3) {
                display: inline;
                list-style: none;
                font-size: 2.2rem;
                color: $tinyone-black;
                margin-left: 6rem;
                font-weight: 700;
                @include respond(phone) {
                    display: none
                }
            
            }
            .menumobile__button {
                display: none;
                list-style: none;
                font-size: 3rem;
                color: $tinyone-black;
                font-weight: 700;
                z-index: 5000;
            }
            .fa-times {
                display: none;
            }

        }
        
    }
}

.offscreen__menu {
    position: absolute;
    top: 20vh;//vai pra 20vh
    left: 0;
    width: 100vw;
    height: 82vh;
    background-color: $tinyone-yellow;
    z-index: 2;
    display: none;
    font-size: 2.4rem;
    
    ul li {
        list-style: none;
        text-align: center;
        font-weight: 700;
        padding: 2rem;
    }
}