.hero-wrapper {
    background-color: $tinyone-yellow;

    .hero {
        width: 100%;
        .carousel {
            .carousel__cell {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 1rem rem 1rem;

                @include respond(tablet) {
                    flex-direction: column;
                }

                .carousel__text {
                    max-width: 40%;
                    padding-right: 1rem;

                    @include respond(tablet) {
                        max-width: 80%;
                        padding-right: 0;
                        text-align: center;  
                    }

                    .os {
                        font-size: 4.2rem;
                        @include respond(tablet) {
                            padding: 2rem 0 2rem 0;
                        }

                        i {
                            margin-right: 3.5rem;

                            @include respond(tablet) {
                                margin-right: 0rem;
                                margin: 1.5rem;
                            }
                        }
                    }
                }

                .carousel__image {
                    width: 50%;
                    padding-left: 1rem; 
                    padding-bottom: 10rem; 
                    @include respond(tablet) {
                        padding-left: 0rem;
                        padding-bottom: 10rem; 
                    }

                    img {
                        max-width: 100%;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.flickity-page-dots {
    transform: translateY(-65px);
}