/*
Não achei necessário a utilização dos breakpoints pedidos pois fiz um layout fluído com flexbox.
Caso necessário poderia ser feito dessa forma:

    @mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 20em) { @content };    //320px
    }
    @if $breakpoint == tablet {
        @media only screen and (max-width: 48em) { @content };     //768px
    }
    @if $breakpoint == desktop {
        @media only screen and (max-width: 64em) { @content };    //1024px
    }
    @if $breakpoint == desktop {
        @media only screen and (max-width: 80em) { @content };    //1280px
    }
}

*/


@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 40em) { @content };    //600px
    }
    @if $breakpoint == tablet {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == desktop {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
}