.heading--primary {
    font-size: 3.2rem;
    font-weight: 700;
    color: $tinyone-black;
    margin: 0;
    margin-bottom: 3rem;
}
.heading--secundary {
    font-size: 2rem;
    font-weight: 400;
    color: $tinyone-gray-blue;
    margin: 0;
    margin-bottom: 2.5rem;
}

.text--light {
    font-size: 1.6rem;
    font-weight: 400;
    color: $tinyone-gray;
    margin: 0;
}
.text--dark {
    font-size: 1.6rem;
    font-weight: 400;
    color: $tinyone-gray-2;
    margin: 0;
}
